.wrap {
  max-width: 80%;
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  width: 80%;
  @include respond-to('xl') {
    max-width: 120rem;
  }
  @include respond-to('m') {
    max-width: 90%;
    width: 90%;
  }
  &:after {
    @include clearfix;
    @include clearfix-after;
  }
}

.content-wrap {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}
