.mobile-hamburger {
  cursor: pointer;
  padding: 0rem;
  background: $color__tp;
  height: 5rem;
  width: 8rem;
  margin: 0;
  position: absolute;
  text-decoration: none;
  border: none;
  left: 10%;
  top: 1rem;
  color: $color__tp;
  font-size: 0;
  line-height: 0;
  display: none;
  z-index: 110;
  @include respond-to('ns') {
    display: block;
  }
  span {
    margin: 0;
    position: absolute;
    top: 3rem;
    width: 4rem;
    height: 2px;
    background-color: $color__white;
    display: block;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
    @include delay(.2s);
    @include respond-to('ns') {
      display: block;
    }
    &:before,
    &:after {
      position: absolute;
      content: '';
    }
    &:before,
    &:after {
      width: 4rem;
      height: 2px;
      background-color: $color__white;
      display: block;
    }
    &:before {
      margin-top: -1rem;
    }
    &:after {
      margin-top: 1rem;
    }
    &:before,
    &:after {
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: .2s;
      -webkit-transition-delay: .2s, 0s;
      -moz-transition-property: margin, -moz-transform;
      -moz-transition-duration: .2s;
      -moz-transition-delay: .2s, 0s;
      transition-property: margin, transform;
      transition-duration: .2s;
      transition-delay: .2s, 0s;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: url('https://unsplash.it/1440/800/?image=450') no-repeat 0 0;
  @include background-cover;
  display: none;
  opacity: 0;
  @include respond-to('xl') {
    background-size: cover;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: $font__main;
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
    position: absolute;
    top: 50%;
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    display: block;
    text-align: center;
    li {
      margin: 0;
      padding: 0;
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      @include transition(all, 650ms, (0.19,1,0.22,1));
      width: 100%;
      display: block;
      a {
        color: $color__white;
        font-size: 3rem;
        @include line-height(3.5);
        position: relative;
        width: 80%;
        margin: 0 auto;
        display: inline-block;
        &:after {
          content: "";
          width: 0%;
          background: $color__white;
          height: 3px;
          position: absolute;
          top: 55%;
          left: 0;
          @include transition(all, 250ms, (0.19,1,0.22,1));
        }
        &:hover:after {
          width: 100%;
        }
      }
      > ul {
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        position: relative;
        margin: 2rem 0;
        opacity: 0;
        display: none;
        text-align: center;
        li {
          margin-bottom: 1rem;
          a {
            font-size: 1.5rem;
            line-height: 1.5;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  .sub-nav li {
    text-transform: lowercase;
  }
}

.sub-nav {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    width: 100%;
    text-transform: lowercase;
  }
}
