/// contrasts
$color__white: hsl(0, 0%, 100%);
$color__gold: hsl(56, 26%, 46%);
$color__blk: hsl(0, 0%, 0%);
$color__blk-10: hsl(0, 0%, 10%);
$color__blk-9: hsl(0, 0%, 9%);
$color__blk--bg: hsl(0, 0%, 16%);

// $color__bluewood: hsl(210, 26%, 27%);
$color__gray: hsl(0, 0%, 50%);
$color__gray-70: hsl(0, 0%, 70%);
$color__gray--bg: hsl(0, 0%, 22%);
$color__lusta: hsl(36, 46%, 86%);
//$color__bianca: HSL(48, 71%, 97%);
/// greens
$color__rioja: hsl(60, 100%, 36%);
$color__pgreen: hsl(174, 100%, 35%);
/// reds
$color__sunset: hsl(4, 94%, 62%);
/// oranges
$color__redorange: hsl(3, 87%, 63%);
$color__orange: hsl(31, 100%, 50%);
$color__carrot: hsl(20, 84%, 55%);
/// yellows
$color__supernova: hsl(47, 100%, 50%);
/// utils
$color__tp: transparent;
